* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: Orbitron;
  /* outline: 2px solid red; */
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1366px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}

h1 {
  font-size: clamp(1.875rem, 1.489rem + 1.76vw, 2.813rem);
  font-weight: 600;
  color: white;
}
h2 {
  font-size: clamp(1.375rem, 1.04rem + 1.53vw, 2.188rem);
  font-weight: 600;
  color: white;
}
h4 {
  font-size: clamp(1.188rem, 1.162rem + 0.12vw, 1.25rem) a;
  font-weight: 600;
  color: white;
}

a,
p {
  font-size: clamp(0.625rem, 0.522rem + 0.47vw, 0.875rem);
  font-weight: 300;
  color: #8f95a5;
  line-height: 25px;
}
span {
  color: black;
}
button {
  padding: 9px 15px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  border-radius: 10px;
  color: white;
}

body {
  background: #000;
}
.gradient {
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  -webkit-background-clip: text; /* делает градиент внутри текста */
  -webkit-text-fill-color: transparent;
}

#header {
  padding-block: 40px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    nav {
      display: flex;
      gap: 25px;
    }
    .menu-burger {
      display: none;
    }
  }
}

#hero {
  padding-block: 40px;
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    .hero-img {
      width: 100%;
      max-width: 380px;
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      .two-button {
        display: flex;
        gap: 10px;
      }

      .border-btn {
        border: 1px solid white;
        background: #000;
        gap: 15px;
      }
      .date {
        display: flex;
        justify-content: start;
        gap: 20px;
      }
    }
    .posit-img {
      position: absolute;
      top: 80px;
      right: 340px;
      width: 100%;
      max-width: 50px;
    }
  }
  .date1,
  .date2,
  .date3 {
    display: none;
  }
}

#Metaverse {
  padding-block: 40px;
  .Metaverse {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    .meta-img {
      img {
        width: 100%;
        max-width: 20px;
      }
    }
    .meta-img2 {
      position: absolute;
      top: 60px;
      left: 130px;
      width: 100%;
      max-width: 150px;
    }
    .meta-img1 {
      width: 100%;
      max-width: 150px;
    }
    .Metaverse-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 25px;
      width: 100%;
      max-width: 400px;
    }
  }
}

#work {
  padding-block: 50px;
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
        width: 100%;
        max-width: 360px;
        background: rgba(9, 8, 35, 1);
        padding: 10px;
        .two-button {
          display: flex;
          gap: 10px;
        }
        .border-btn {
          border: 2px solid white;
          background: #000;
          gap: 20px;
        }
      }
    }
  }
}

#our {
  padding-block: 40px;
  .our {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    img {
      width: 100%;
      max-width: 950px;
    }
  }
}

#footer {
  padding-block: 40px;
  background: rgba(9, 8, 35, 1);
  .footer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    .meta {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      width: 100%;
      max-width: 300px;
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .about-two {
      display: flex;
      gap: 25px;
    }
    .Contact {
      display: flex;
      flex-direction: column;
      gap: 20px;
      span {
        color: white;
      }
      .icon {
        display: flex;
        gap: 15px;
      }
    }
  }
}
